@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --primary: #d4d4d4;
  --background: #1e1e1e;
  --foreground: #d4d4d4;
  --bar: #333333;
  --activity: #252526;
  --footer: #007acc;
  --remote: #3e874f;
  --inactive: #6b6b6b;
}

@media (prefers-color-scheme: dark) {
}
