@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --primary: #d4d4d4;
  --background: #1e1e1e;
  --foreground: #d4d4d4;
  --bar: #333333;
  --expanded: #252526;
  --footer: #007acc;
  --remote: #3e874f;
  --inactive: #6b6b6b;
  --activity: #2b2b2b;
}

@media (prefers-color-scheme: dark) {
}

@layer utilities {
  /* Hide scrollbar for Chrome, Safari and Opera */
  .no-scrollbar::-webkit-scrollbar {
    display: none;
  }
  /* Hide scrollbar for IE, Edge and Firefox */
  .no-scrollbar {
    -ms-overflow-style: none; /* IE and Edge */
    scrollbar-width: none; /* Firefox */
  }
}
